/* Styles shared by all sections */

    html, body {
        font-size:        14px;
        font-family:      Helvetica, sans-serif;
        color:            black;
        background-color: #88a1bb;
    }

    a, a:visited {
        color:              #026;
    }
    a:hover {
        color:              #26c;
    }

    #header {
        background-color:       black;
        border-bottom-color:    #004570;
        background-image:       url("/img/shine.png");
        background-position:    left -4px;
        background-repeat:      repeat-x;
    }
    #header_text {
        font-weight:        bold;
        color:              #cdcccc;
    }
    #header_text a, #header_text a:visited {
        color:              #cdcccc;
    }
    #header_text a:hover {
        color:              #fff;
    }
    #header_text ul {
        padding:            0;
        margin:             0;
    }
    #header_text li {
        border-right-color:     #445;
        border-left-color:      #889;
        background-color:       black;
        background-image:       url("/img/shine.png");
        background-position:    left -2px;
        background-repeat:      repeat-x;
    }
    #header_text li div {
    }
    #header_text li:hover {
        background-color: #3a8abc;
    }
    #header_text li.cur {
        background-color: #004570;
    }
    #header_text li.cur:hover {
        background-color: #3a8abc;
    }
    #header_text li.cur:hover a {
        color:              #fff;
    }
    #header_text li.cur:hover li a {
        color:              #cdcccc;
    }
    #header_text li.cur:hover li a:hover {
        color:              #fff;
    }
    #header_text li:hover div {
    }
    #header_text li ul {
    }

    #header_text li:hover ul li {
        background-color:       #181f2f;
        border-color:           #004570;
        border-right-color:     #557;
        background-image:       none;
    }
    #header_text li:hover ul li.first {
        border-left-color:      #004570;
    }
    #header_text li:hover ul li.last {
        border-right-color:     #004570;
    }
    #header_text li:hover ul li:hover {
        background-color:       #3786b7;
    }

    #header_logo {
    }
    #header_logo img {
    }

    #header_close {
        background-image:   url("/img/blue_fade.png");
        background-repeat:  repeat-x;
    }

    #content {
    }

    #footer {
        background-color:       black;
        color:                  #ccd;
        border-top-color:       #004570;
        background-image:       url("/img/shine.png");
        background-position:    left -6px;
        background-repeat:      repeat-x;
    }

    #copyright {
    }

    #sponsorship {
    }

    #sponsorship img {
        border-color:       black;
    }

/* index.php */

    #index_whatis {
        border-color:           #069;
        background-color:       #e6e6f0;
        color:                  #115;
        background-image:       url("/img/left_dark_bg.png");
        background-position:    left;
        background-repeat:      repeat-y;
        padding:                0;
    }
    #whatis_head {
        background-image:       url("/img/whatis.png");
        background-repeat:      no-repeat;
        background-position:    10px center;
    }
    #index_quicklinks {
        border-color:       #069;
        background-color:   #e6e6f0;
        color:              #115;
        background-image:       url("/img/left_dark_bg.png");
        background-position:    left;
        background-repeat:      repeat-y;
    }
    #index_quicklinks li a img {
        border-right:       2px solid #004570;
    }
    #index_download {
        border-color:       #069;
        background-color:   #e6e6f0;
        color:              #115;
        -moz-border-radius-topleft:    11px;
        -moz-border-radius-bottomleft: 11px;
    }

/* news.php */

    .news_post {
        background-color:   #e6e6f0;
        border-color:       #069;
    }

    .news_post h3 {
    }
    .news_post .post_content {
    }
    .news_post .post_author {
        background-color:   #bcbbbb;
        color:              black;
        border-color:       #069;
    }

/* contact.php */

    .contact_err {
        border-color:       red;
    }
