/* Styles shared by all sections */

    html, body {
        font-size:        14px;
        font-family:      Helvetica, sans-serif;
        color:            black;
        background-color: #88a1bb;
    }

    a, a:visited {
        color:              #026;
    }
    a:hover {
        color:              #26c;
    }

    #header {
        background-color:       black;
        border-bottom-color:    #004570;
        background-image:       url("/img/shine.png");
        background-position:    left -4px;
        background-repeat:      repeat-x;
    }
    #header_text {
        font-weight:        bold;
        color:              #cdcccc;
    }
    #header_text a, #header_text a:visited {
        color:              #cdcccc;
    }
    #header_text a:hover {
        color:              #fff;
    }
    #header_text ul {
        padding:            0;
        margin:             0;
    }
    #header_text li {
        border-right-color:     #445;
        border-left-color:      #889;
        background-color:       black;
        background-image:       url("/img/shine.png");
        background-position:    left -2px;
        background-repeat:      repeat-x;
    }
    #header_text li div {
    }
    #header_text li:hover {
        background-color: #3a8abc;
    }
    #header_text li.cur {
        background-color: #004570;
    }
    #header_text li.cur:hover {
        background-color: #3a8abc;
    }
    #header_text li.cur:hover a {
        color:              #fff;
    }
    #header_text li.cur:hover li a {
        color:              #cdcccc;
    }
    #header_text li.cur:hover li a:hover {
        color:              #fff;
    }
    #header_text li:hover div {
    }
    #header_text li ul {
    }

    #header_text li:hover ul li {
        background-color:       #181f2f;
        border-color:           #004570;
        border-right-color:     #557;
        background-image:       none;
    }
    #header_text li:hover ul li.first {
        border-left-color:      #004570;
    }
    #header_text li:hover ul li.last {
        border-right-color:     #004570;
    }
    #header_text li:hover ul li:hover {
        background-color:       #3786b7;
    }

    #header_logo {
    }
    #header_logo img {
    }

    #header_close {
        background-image:   url("/img/blue_fade.png");
        background-repeat:  repeat-x;
    }

    #content {
    }

    #footer {
        background-color:       black;
        color:                  #ccd;
        border-top-color:       #004570;
        background-image:       url("/img/shine.png");
        background-position:    left -6px;
        background-repeat:      repeat-x;
    }

    #copyright {
    }

    #sponsorship {
    }

    #sponsorship img {
        border-color:       black;
    }

/* index.php */

    #index_whatis {
        background-color:       #e6e6f0;
        color:                  #115;
        background-image:       url("/img/inset_top.png");
        background-position:    top;
        background-repeat:      repeat-x;
    }
    #index_whatis .topleft {
        background-image:       url("/img/top_corner_w_shadow.png");
        background-repeat:      no-repeat;
        background-position:    top left;
        margin-left:            -25px;
        height:                 12px;
        width:                  30px;
        float:                  left;
    }
    #index_whatis .middleleft {
        background-image:       url("/img/middle_w_shadow.png");
        background-repeat:      repeat-y;
        background-position:    left;
        margin-left:            -25px;
        width:                  30px;
        height:                 226px;
        float:                  left;
        clear:                  left;
    }
    #index_whatis .middleleft .title {
        background-image:       url("/img/whatis.png");
        background-repeat:      no-repeat;
        background-position:    8px center;
        width:                  30px;
        height:                 226px;
    }
    #index_whatis .bottomleft {
        background-image:       url("/img/bottom_corner_w_shadow.png");
        background-repeat:      no-repeat;
        background-position:    bottom left;
        margin-left:            -25px;
        height:                 12px;
        width:                  30px;
        float:                  left;
        clear:                  left;
    }

    #index_quicklinks {
        background-color:       #e6e6f0;
        color:                  #115;
        background-image:       url("/img/inset_top.png");
        background-position:    top;
        background-repeat:      repeat-x;
    }
    #index_quicklinks .topleft {
        background-image:       url("/img/top_corner_w_shadow.png");
        background-repeat:      no-repeat;
        background-position:    top left;
        margin-left:            -25px;
        height:                 12px;
        width:                  30px;
        float:                  left;
    }
    #index_quicklinks .middleleft {
        background-image:       url("/img/middle_w_shadow.png");
        background-repeat:      repeat-y;
        background-position:    left;
        margin-left:            -25px;
        width:                  30px;
        height:                 116px;
        float:                  left;
        clear:                  left;
    }
    #index_quicklinks .middleleft .title {
        display: none;
    }
    #index_quicklinks .bottomleft {
        background-image:       url("/img/bottom_corner_w_shadow.png");
        background-repeat:      no-repeat;
        background-position:    bottom left;
        margin-left:            -25px;
        height:                 12px;
        width:                  30px;
        float:                  left;
        clear:                  left;
    }


    #index_download {
        background-color:       #e6e6f0;
        color:                  #115;
        background-image:       url("/img/inset_top.png");
        background-position:    top;
        background-repeat:      repeat-x;
    }
    #index_download .topleft {
        background-image:       url("/img/top_corner_w_shadow.png");
        background-repeat:      no-repeat;
        background-position:    top left;
        margin-left:            -25px;
        height:                 12px;
        width:                  30px;
        float:                  left;
    }
    #index_download .middleleft {
        background-image:       url("/img/middle_w_shadow.png");
        background-repeat:      repeat-y;
        background-position:    left;
        margin-left:            -25px;
        width:                  30px;
        height:                 67px;
        float:                  left;
        clear:                  left;
    }
    #index_download .middleleft .title {
        background-image:       url("/img/release.png");
        background-repeat:      no-repeat;
        background-position:    8px center;
        width:                  30px;
        height:                 67px;
    }
    #index_download .bottomleft {
        background-image:       url("/img/bottom_corner_w_shadow.png");
        background-repeat:      no-repeat;
        background-position:    bottom left;
        margin-left:            -25px;
        height:                 12px;
        width:                  30px;
        float:                  left;
        clear:                  left;
    }
    #index_download .content .release a {
        font-size:          120%;
    }
    #index_download .content .download a {
        font-size:          180%;
        color:              black;
        text-decoration:    none;
        font-weight:        bold;
    }

/* news.php */

    .news_post {
        background-color:   #e6e6f0;
        border-color:       #069;
    }

    .news_post h3 {
    }
    .news_post .post_content {
    }
    .news_post .post_author {
        background-color:   #bcbbbb;
        color:              black;
        border-color:       #069;
    }

/* contact.php */

    .contact_err {
        border-color:       red;
    }
