/* Styles shared by all sections */

    html, body {
        border:           0px;
        margin:           0px;
        padding:          0px;
    }

    a, a:visited {
    }
    a:hover {
    }

    #header {
        position:           fixed;
        top:                0px;
        right:              0px;
        left:               0px;
        height:             38px;
        border-bottom:      4px solid transparent;
        z-index:            50;
    }
    #header_text {
        padding-left:       200px;
        line-height:        2.75em;
        font-weight:        bold;
    }
    #header_text a, #header_text a:visited {
    }
    #header_text a:hover {
    }
    #header_text ul {
        padding:            0;
        margin:             0;
    }
    #header_text li {
        list-style-type:    none;
        float:              left;
        padding:            0;
        margin:             0;
        height:             38px;
        border-right:       1px solid transparent;
        border-left:        1px solid transparent;
        white-space:        nowrap;
    }
    #header_text li a {
        padding:            .75em 1em;
        text-decoration:    none;
    }
    #header_text li a:hover {
        text-decoration:    underline;
    }
    #header_text li div {
        display: none;
    }
    #header_text li:hover {
    }
    #header_text li.cur {
    }
    #header_text li:hover div {
        display:        block;
        position:       absolute;
        width:          784px;
        top:            30px;
        left:           190px;
        line-height:    2em;
        padding:        8px 10px 20px 10px;
    }
    #header_text li ul {
        list-style-type: none;
    }

    #header_text li:hover ul li {
        margin:             0;
        float:              left;
        height:             2em !important;
        padding:            0em 1em;
        border-left:        none;
        border-top:         2px solid transparent;
        border-right:       1px solid transparent;
        border-bottom:      2px solid transparent;
    }
    #header_text li:hover ul li.first {
        border-left:        2px solid transparent;
        -moz-border-radius-bottomleft:  11px;
    }
    #header_text li:hover ul li.last {
        border-right:       2px solid transparent;
        -moz-border-radius-bottomright:  11px;
    }
    #header_text li:hover ul li:hover {
    }
    #header_text li:hover ul li a {
        margin:             0em -1em;
    }

    #header_logo {
        position:           absolute;
        display:            inline;
        left:               10px;
        top:                100%;
        height:             64px;
        margin-top:         -29px;
        z-index:            99;
    }
    #header_logo img {
        border:             none;
    }

    #header_close {
        margin-top: 40px;
        height:     36px;
    }

    #content {
        margin:             0px;
        padding:            6em 2em 7em 2em;
        width:              964px;
    }

    #footer {
        position:           fixed;
        bottom:             0px;
        left:               0px;
        right:              0px;
        padding:            .3em;
        border-top:         4px solid transparent;
        z-index:            49;
    }

    #copyright {
        margin-left:        1em;
        float:              left;
        vertical-align:     middle;
        line-height:        2.25em;
    }

    #sponsorship {
        margin-right:       1em;
        float:              right;
    }

    #sponsorship img {
        border:             1px solid black;
        vertical-align:     middle;
    }

/* index.php */

    #index_whatis {
        padding:            3px 10px;
        border:             2px solid transparent;
        width:              70%;
        height:             250px;
        float:              left;
        -moz-border-radius-topleft:    11px;
        -moz-border-radius-bottomleft: 11px;
    }
    #index_whatis p.quote {
        font-style:         italic;
    }
    #index_whatis p.quote .signature {
        display:            block;
        text-align:         right;
    }
    #whatis_head {
        height:                 250px;
        width:                  30px;
        float:                  left;
        margin-top:             -1em;
        margin-right:           1em;
        -moz-border-radius-topleft:    11px;
        -moz-border-radius-bottomleft: 11px;
    }
    #index_quicklinks {
        float:              right;
        width:              25%;
        height:             129px;
        padding:            3px 10px;
        border:             2px solid transparent;
        margin-bottom:      1em;
        -moz-border-radius-topleft:    11px;
        -moz-border-radius-bottomleft: 11px;
        border-collapse:    collapse;
    }
    #index_quicklinks ul {
        list-style-type:    none;
        margin:             -3px 0;
        padding:            0;
        margin-left:        -10px !important;
    }
    #index_quicklinks li {
        padding:            0;
        margin:             0;
        clear:              none;
        line-height:        50%;
        text-align:         middle;
        clear:              left;
    }
    #index_quicklinks li a {
        text-decoration:    none;
    }
    #index_quicklinks li a img {
        float:              left;
        margin:             0;
        padding:            .25em 5px .25em 4px;
    }
    #index_quicklinks li a .text {
        display:            block;
        text-decoration:    underline !important;
        padding:            .5em ;
        margin-left:        28px;
    }

    #index_download {
        float:              right;
        clear:              right;
        width:              25%;
        height:             91px;
        padding:            3px 10px;
        border:             2px solid transparent;
        text-align:         center;
    }

    #index_news {
        clear:              both;
        padding-top:        .5em;
    }

/* news.php */

    .news_post {
        font-size:          12px;
        margin-top:         1em;
        border:             2px solid transparent;
        -moz-border-radius-topleft:  11px;
        -moz-border-radius-topright: 11px;
    }

    .news_post h3 {
        font-size:          175%;
        margin:             0;
        margin-bottom:      .25em;
        padding:            3px 10px;
        float:              left;
        -moz-border-radius-topleft:  11px;
    }
    .news_post .post_author {
        margin-top:         -2px;
        margin-right:       -2px;
        padding:            5px;
        border:             1px solid transparent;
        border-top-width:   2px;
        border-right-width: 2px;
        text-align:         center;
        float:              right;
        font-size:          90%;
        -moz-border-radius-topright:    11px;
        -moz-border-radius-bottomleft:  11px;
    }
    .news_post .post_content {
        clear:              both;
        margin:             .5em 1em .5em 2.5em;
    }
    .news_post .post_content ul {
        margin-left: 0;
        padding-left: 1.5em;
    }

/* detail.php */

    #detail {
    }

    #detail_toc {
    }

    #detail_content {
    }

    #detail_content .content {
    }
