#
# Custom .htaccess for mythtv.org
#
# Don't forget the accompanying vhost directives to protect /edit!
#

# Turn on the rewrite engine
    RewriteEngine  on

# Redirect some old pages so we don't lose SEO
    Redirect permanent /index.php   http://newmyth.forevermore.net/

    RewriteCond %{REQUEST_URI}      ^/modules\.php
    RewriteCond %{QUERY_STRING}     name=Downloads
    RewriteRule (.*)                /download?      [R=permanent,L]

    RewriteCond %{REQUEST_URI}      ^/modules\.php
    RewriteCond %{QUERY_STRING}     name=MythFeatures
    RewriteRule (.*)                /detail?        [R=permanent,L]

    RewriteCond %{REQUEST_URI}      ^/modules\.php
    RewriteCond %{QUERY_STRING}     name=MythInstall
    RewriteRule (.*)                /docs?          [R=permanent,L]

    RewriteCond %{REQUEST_URI}      ^/modules\.php
    RewriteCond %{QUERY_STRING}     name=MythInfo
    RewriteRule (.*)                /support?       [R=permanent,L]

    RewriteCond %{REQUEST_URI}      ^/modules\.php
    RewriteCond %{QUERY_STRING}     name=Stories_Archive
    RewriteRule (.*)                /news?          [R=permanent,L]

    RewriteCond %{REQUEST_URI}      ^/modules\.php
    RewriteCond %{QUERY_STRING}     name=Web_Links
    RewriteRule (.*)                /links?         [R=permanent,L]

# Skip out early if we've already been through rewrites,
# or if this is a /css/, /js/ or /cache/ directory request.
    RewriteRule     ^(css|img|cache|js|[a-z_]+\.(php))(/|$)     -      [L]

# Redirect most of the remaining URL requests to the main mythweb script.
# It will then handle any requests given to it.
    RewriteRule     ^(.+)$                  mythtv.php/$1       [QSA,L]

# Catch anything else that comes through and send it to mythweb.php with no parameters.
    RewriteRule     ^(.*)$                  mythtv.php          [QSA,L]

